@use '../../styles/tokens/breakpoints.scss' as breakpoints;

.wrapper {
  margin: 4rem 0 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: breakpoints.$sm) {
    grid-template-columns: 1fr 1fr;
  }
}
