@use './tokens/breakpoints.scss' as breakpoints;
@use './tokens/colors.scss' as colors;

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'dm-serif';
  src: url('/fonts/dm-serif.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dm-serif';
  src: url('/fonts/dm-serif-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'dm-serif', serif;
}

h1,
.h1 {
  font-size: 2.875rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 3.375rem;
  }
}

h2,
.h2 {
  font-size: 2.375rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 2.875rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 1.25rem;
  }
}

h6,
.h6 {
  font-size: 0.875rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 1rem;
  }
}

.text-normal {
  font-size: 1rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 1.125rem;
  }
}

.text-small {
  font-size: 0.875rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 1rem;
  }
}

.text-large {
  font-size: 1.125rem;

  @media screen and (min-width: breakpoints.$sm) {
    font-size: 1.25rem;
  }
}

mark,
.mark {
  background-color: colors.$secondary-light;
}

pre {
  text-wrap: wrap;
}
