@use '../../styles/tokens/breakpoints.scss' as breakpoints;

.locations {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: breakpoints.$sm) {
    grid-template-columns: 1fr 1fr;
  }

  &__odd {
    @media screen and (min-width: breakpoints.$sm) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__one {
    @media screen and (min-width: breakpoints.$sm) {
      grid-template-columns: 1fr;
    }
  }
}
