@use '../../styles/tokens/colors.scss' as colors;
@use '../../styles/tokens/typography.scss' as typography;

.navItem,
.link {
  font-family: typography.$dm-serif;
  color: colors.$dark;

  &:hover,
  &:focus {
    text-decoration: none;
    color: colors.$secondary;
  }
}
