@use 'sass:map';
@use '../../styles/tokens/colors.scss' as colors;
@use '../../styles/tokens/spacing.scss' as spacing;
@use '../../styles/tokens/breakpoints.scss' as breakpoints;

.wrapper {
  background-color: colors.$background;
  padding-top: map.get(spacing.$rem, 16);
  padding-bottom: map.get(spacing.$rem, 16);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: space-between;
  gap: map.get(spacing.$rem, 32);

  @media screen and (min-width: breakpoints.$sm) {
    flex-direction: row;
  }
}

.list {
  display: flex;
  flex-direction: column;
  background-color: colors.$background;
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (min-width: breakpoints.$sm) {
    flex-direction: row;
    align-items: center;
    gap: map.get(spacing.$rem, 32);
    flex-wrap: wrap;
  }
}

.logo {
  position: relative;
  object-fit: contain;
  object-position: left;

  @media screen and (min-width: breakpoints.$sm) {
    object-position: right;
  }
}

.logoLink {
  display: block;
  position: relative;
  min-width: 150px;
  min-height: 50px;
}
